allow audioserver self:socket { create ioctl read };
allow audioserver qmuxd_socket:dir { add_name remove_name write search };
allow audioserver qmuxd_socket:sock_file { create write setattr unlink };
allow audioserver qmuxd:unix_stream_socket connectto;
#allow audioserver device:chr_file { ioctl open read write };
# Fix this:
#libsepol.report_failure: neverallow on line 265 of system/sepolicy/domain.te (or line 9154 of policy.conf) violated by allow audioserver device:chr_file { read write open };
