allow system_server mdm_device:chr_file { read open getattr ioctl };
allow system_server system_file:file execmod;
auditallow system_server mdm_device:chr_file { read open getattr ioctl };
